body {
	background-image: url(../images/login-background.jpg);
}

h1 {
	text-align: center;
	margin: 50px;
	color: #4d636f;
	font-family: 'Trocchi', serif;
	font-size: 60px;
	font-weight: 800;
	line-height: 48px;
}

#sadrzaj {
	text-align: center;
}

.login, .registracija {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 40%;
	max-width: 400px;
	min-width: 200px;
	margin: 20px;
}

.poruke {
	display: inline-block;
}