main {
    display: flex;
    padding: 0;
}

.profile-sidebar {
    width: 400px;
    box-shadow: 0 -1px 15px 0 #555;
}

.profile-sidebar .profile-picture {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin: 20px auto;
}

.inline-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.inline-container > * {
    margin: 10px;
}

.profile-info {
    font-size: 18px;
    font-weight: bolder;
}

.profile-info:first-of-type {
    width: 30%;
    text-align: right;
}

.content {
    width: 800px;
}

.clear {
    clear: both;
}

.tabs {
    height: 50px;
    display: flex;
}

.tabs .tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D38000;
    transition: background .2s ease-out;
}

.tabs .tab > * {
    margin-left: 10px;
}

.tabs .tab:hover {
    background: #D46900;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 20px;
}

#questions {
    display: block;
}
